<ion-view hide-nav-bar="true">
  <ion-content id='classicBackgroud' class="background" scroll="false">

    <div id='navigation'>

      <div class="row" ng-if='gameMode=="classic"'>
        <div class="col col-10" ng-click="openMenu();">
          <div >
            <i class="ion-navicon" id='menuIcon'></i>
          </div>
        </div>
        <div class="col col-60" style='margin-top: -1px'> <!-- ng-click='changeGameMode("tournament");' -->

          <span ng-repeat="i in answers track by $index">
            <i ng-class="{true: 'score-right ion-ios-checkmark-outline', false: 'score-fail ion-ios-close-outline'}[i]" style='font-size: 16px;'></i>
          </span>
          <span ng-repeat="i in getScores(10-answers.length) track by $index">
            <i class="ion-ios-circle-filled" style='font-size: 16px;'></i>
          </span>
        </div>
        <div class="col col-10" ng-click="hideAnswers()">
          <div >
				    <!-- <i class="ion-ios-search-strong"></i> -->
            <img id='iconZoom' src='img/ui/zoom_in.png' style='height: 18px'>

			   </div>
        </div>
      </div>

      <div class='row' ng-if='gameMode=="tournament"'>
        <div class="col col-10">
          <div ng-click="openMenu();">
            <i class="ion-navicon" id='menuIcon'></i>
          </div>
        </div>
        <div class="col col-80" style='margin-top: 1px; font-size: 16px; font-weight: normal;' ng-click='showLeaderboard()'>
          <i class="ion-arrow-graph-up-right"></i> {{answers.length}}
          /
          <i class="ion-arrow-graph-up-right energized"></i> {{userStats.leaderboard[settings.currentSet.id]}}
          <span ng-if='leaderboardMyPlace != false'>/ <i class="ion-podium energized"></i> {{lang.desc.yourPlace.replace('__place__', leaderboardMyPlace)}}</span> <!--  -->
        </div>
        <div class="col col-10" ng-click="hideAnswers()">
          <div >
				    <!-- <i class="ion-ios-search-strong"></i> -->
            <img id='iconZoom' src='img/ui/zoom_in.png' style='height: 18px'>
			   </div>
        </div>
      </div>

      <div class='row' ng-if='gameMode=="duel"'>
        <div class="col col-10">
          <div ng-click="openMenu();">
            <i class="ion-navicon" id='menuIcon'></i>
          </div>
        </div>
        <div class="col col-60" style='margin-top: -1px'>
          duel
        </div>
        <div class="col col-10">
          <div ng-click=""></div>
        </div>
      </div>

    </div>
    <!-- <ion-scroll zooming="true" direction="xy" scrollbar-x='false' scrollbar-y='false' min-zoom='1' style=''> -->
    <img id="picture" imageonload='imageloaded();' ng-click='hideAnswers()' ng-src="{{picture}}" style="visibility: hidden;">
    <!-- </ion-scroll> -->
    <!-- <br>{{lang.painters[currentPainter.id]}} подсказка-->
    <img id='picture-preload' ng-src="{{picturePreloadUrl}}" style='visibility: hidden; width: 1px;'>

    <div id="win">
      <img id='winImg' ng-click='showCloseWin();' ng-src='img/medals/winner-medal-{{settings.langId}}.png'>
    </div>

    <div id='winDesc'>
      <h2>{{lang.message.winner}}</h2>
      <p>{{lang.message.winnerMobile}}
        <b>{{lang.sets[settings.currentSet.id+'Set']}}</b>!</p>
      <p>{{lang.message.shareOrTournament}}</p>
      <button id='btnShowShare' class="button button-full button-positive" ng-click='showShare();'>
        <i class='icon ion-ios-upload-outline'></i>
        {{lang.message.shareWithFriends}}</button>
      <button class="button button-full button-energized" ng-click='changeGameMode("tournament");'>
        <i class='icon ion-trophy'></i>
        {{lang.message.playTournament}}</button>
    </div>

  </ion-content>

  <div id="buttons">
    <button class="button button-full button-answer" id={{$index}} ng-repeat="painter in candidates track by $index"  ng-click="checkAnswer($event)"> <!-- on-hold="showPainterInfoOnHold($event, true)" -->
      <div class="circle"><img ng-src="img/painters/{{painter.id}}.jpg"></div>
      <text>{{lang.painters[painter.id]}}</text>
      <div id='painterId' style='display: none'>{{painter.id}}</div>
    </button>
  </div>

</ion-view>
