<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content id='menu'>

      <div ng-if="settings.registered">
        <a href="#/app/stats" menu-close class="item item-avatar" style='border: none; background: none;'>
          <img src='img/avatar-dummy.png'>
          <h2 style='color: white'>{{userInfo.name}}</h2>
          <p>{{userInfo.email}}</p>

          <div style=' color: white; font-size: 16px; padding-top: 4px;'>
            <i class="ion-ribbon-a balanced"></i>
            {{userStats.wins[settings.currentSet.id]}}
            /
            <i class="ion-university positive"></i>
            {{userStats.stats[settings.currentSet.id]}}% /
            <i class="ion-podium energized"></i>
            {{userStats.leaderboard[settings.currentSet.id]}}
          </div>
        </a>
      </div>
      <div ng-if="!settings.registered" style='width: 100%; margin: 0px'>
        <span class="item item-avatar" ng-click="login()" style='border:none; background: none;'>
          <img src='img/avatar-dummy.png'>
          <h2 style='color: white'>{{lang.desc.loginUnregisteredPlayer}}</h2>
          <p>{{lang.desc.loginClickToRegister}}</p>
        </span>
      </div>

      <div id='menuItems' style='color: white; font-size: 20px; line-height: 44px; padding: 30px 30px 30px 30px'>

        <a href="#/app/classic" ng-click='changeGameMode("classic")' id='classicGame' menu-close style='text-decoration: none; color: yellow;'>
          <i class='icon ion-person'></i>
          <span style='color: white'>{{lang.desc.menuSinglePlayer}}</span>
        </a>

        <a href="#/app/classic" ng-click='changeGameMode("duel")' id='duelGame' menu-close style='color: yellow; text-decoration: none; display: block'>
          <i class='icon ion-person-stalker'></i>
          <span style='color: white'>{{lang.desc.menuDuel}}</span>
        </a>

        <!-- <a href="#/app/classic" ng-click='changeGameMode("tournament");' id='tournamentGame' menu-close style='color: yellow; text-decoration: none; display: block'>
          <i class='icon ion-podium'></i>
          <span style='color: white'>{{lang.desc.menuTournament}}</span>
        </a> -->

        <ion-slide-box active-slide="activeSlideId()" show-pager="false" on-slide-changed="slideHasChanged($index)" style='padding-top: 60px;'>
          <ion-slide ng-repeat="set in sets">
            <a href="#/app/changeSet" menu-close style='text-decoration: none;'>
              <img ng-src="img/sets/{{set.id}}Set-picture.jpg" style="max-width: 100%">
              <div style='color: white; font-size: 14px; line-height: 20px;'>{{lang.sets[set.id+'Set']}}</div>
            </a>
          </ion-slide>
        </ion-slide-box>

        <a href="#/app/settings" id='settings' menu-close style='text-decoration: none; display: block; color: yellow; padding-top: 30px;'>
          <i class='icon ion-settings'></i>
          <span style='color: white'>{{lang.desc.settings}}</span>
        </a>

      </div>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>
