<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{infoPainterName}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="modalPainterShowInfo.hide()" style='font-size: 46px; padding-right: 10px; margin-top: -7px;'>
        <i class="ion-ios-close-empty"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-content>

    <div class="item" style='padding: 0; text-align: center; border: none!important'>
      <img class="full-image" ng-src="img/painters/{{infoPainterId}}.jpg" style='width: 90%'>
      <div class='row'>
        <div class="col">
          <p>
            <b>{{lang.message.nationality}}</b><br>{{infoPainternationality}}</p>
        </div>
        <div class="col">
          <p>
            <b>{{lang.message.years}}</b><br>{{infoPainterYears}}</p>
        </div>
      </div>
      <div class='row'>
        <div class="col">
          <p>
            <b>{{lang.message.genre}}</b><br>{{infoPainterGenre}}</p>
        </div>
      </div>

      <div class='row item-body'>
        <div class="col">
          <p ng-bind-html="infoPainterBio" style='text-align: left;'></p>

          <a class="button button-full button-positive" href='{{infoPainterLink}}' target="_blank">
            Wikipedia
            <i class="icon ion-ios-redo"></i>
          </a>

        </div>
      </div>

    </div>

  </ion-content>
</ion-modal-view>
