<ion-view hide-nav-bar="true">
  <ion-content class="background">

    <div id='navigation'>
      <div class="row">
        <div class="col col-10">
          <div ng-click="openMenu();">
            <i class="ion-navicon" id='menuIcon'></i>
          </div>
        </div>
        <div class="col col-60" style='margin-top: 1px; font-size: 16px'>
          <!-- {{lang.desc.statsTitle}} -->
          Мой профиль
        </div>
        <div class="col col-10"></div>
      </div>
    </div>

    <div class="list card">
      <!-- <div class="item item-divider">
        Обнаружили ошибку?
      </div> -->
      <div class="item item-text-wrap item-icon-left">
        <i class="icon ion-ios-chatbubble"></i>
        Мой профиль
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">
        История игр
      </div>
      <div class="item item-text-wrap">
        <a class="picture-thumb item item-icon-left" href="#" ng-repeat="answer in userStats.answersHistory track by $index" style='border: none; margin: 0px 0 10px 0; height: 60px; background: #ffffff url("http://artchallenge.me/painters/{{answer.painter}}/{{answer.painting}}.jpg") no-repeat top center'>

          <!-- <img style='margin: ' ng-src='http://artchallenge.me/painters/{{answer.painter}}/{{answer.painting}}.jpg'> -->
          <p class='icon players' style='font-size: 16px; color: black; font-weight: bold'>
            <!-- {{$index + 1}}. -->

            <img class='picture-thumb' ng-src='img/painters/{{answer.painter}}.jpg' style='float: right; width: 44px; margin: -10px 0px 5px 0px'>

            <text style='background-color: rgba(255,255,255,0.5); padding: 5px; margin-top: 12px'>

              <!-- <span ng-if="answer.answer==true" style='font-size: 18px;  color: green'>
                <i class='ion ion-checkmark-round'></i> -->
              {{lang.painters[answer.painter]}}
              <!-- </span>
              <text ng-if="answer.answer==false" style='font-size: 18px;  color: red'>
                <i class='ion ion-close-round'></i> -->

              <!-- </text> -->

            </text>
            <!-- {{answer}} -->

          </p>

          <span ng-if="answer.answer==true" style='font-size: 18px;  color: green'>
            <!-- <i class='ion ion-checkmark-round'></i> -->
            <text style='color: #444; float: right; margin: 0 0px 0px 10px'>{{player.key}}
              <i class='ion-checkmark balanced'></i>
            </text>
          </span>

          <span ng-if="answer.answer==false" style='font-size: 18px;  color: green'>
            <!-- <i class='ion ion-checkmark-round'></i> -->
            <text style='color: #444; float: right; margin: 0 0px 0px 10px'>{{player.key}}
              <i class='ion-close assertive'></i>
            </text>
          </span>

        </a>
      </div>
    </div>

  </ion-view>
