<ion-view>

<!-- <ion-nav-title>
		<div id="score">
			<span ng-repeat="i in userInfo.answers track by $index">
				<i ng-class="{true: 'score-right ion-ios-checkmark', false: 'score-fail ion-ios-close-outline'}[i]"></i>
			</span>

			<span ng-repeat="i in getScores(10-userInfo.answers.length) track by $index">
				<i class="ion-ios-circle-outline"></i>
			</span>
		</div>
</ion-nav-title> -->

<ion-content class="" id="background">

В разработке
<!-- <img on-tap="" id="picture" ng-src="{{picture}}" imageonload='imageloaded();' style="visibility: hidden;" >


<img id='picture-preload' ng-src="{{picturePreloadUrl}}" style='visibility: hidden; width: 1px;'>
</ion-content>
<div id="buttons">
	<button id={{$index}} ng-repeat="painter in candidates track by $index" on-tap="checkAnswer($event)" class="button button-full button-answer">
		<div class="circle"><img ng-src="painters/{{painter.id}}/photo.jpg"></div>
		<text>{{lang.painters[painter.id]}}</text>
	</button>
</div> -->

</ion-view>

