<ion-view hide-nav-bar="true">
<ion-content scroll="false" class="background">

<div id='navigation' style='color: #444444; width: 100%; height: 44px; font-weight: bold; font-size: 24px'>
	<div class="row">
	  <div class="col col-10">
			<div ng-click="openMenu();">
			  <i id='menuIcon' class="ion-navicon"></i>
			</div>
	  </div>
	  <div class="col col-60" style='margin-top: -1px'>
			123
	  </div>
	  <div class="col col-10">
			<div ng-click="">
			  <i class="ion-ios-upload-outline"></i>
			</div>
	  </div>
	</div>
</div>

<img ng-click="hideAnswers()" id="picture" ng-src="{{picture}}" imageonload='imageloaded();' style="visibility: hidden;">

<img id='picture-preload' ng-src="{{picturePreloadUrl}}" style='visibility: hidden; width: 1px;'>

<!-- <div id="win">
	<img id='winImg' ng-src='img/medals/winner-medal-{{settings.langId}}.png'>
</div> -->

<!-- <div id='winDesc'>
	<h2>{{lang.message.winner}}</h2>
	<p>{{lang.message['winner-desc-old']}}</p>
	<p>{{lang.message.share}}</p>
	<button ng-click='reset();' class="button button-positive">Facebook</button>
	<button ng-click='reset();' class="button button-positive">ВКонтакте</button>
	<button ng-click='reset();' class="button button-positive"><i class='icon ion-ios-upload-outline'></i></button>
</div> -->

</ion-content>

<div id="buttons">
	<button id={{$index}} ng-repeat="painter in candidates track by $index" on-tap="checkAnswer($event)" on-hold="showPainterInfoOnHold($event, true)" class="button button-full button-answer">
		<div class="circle"><img ng-src="img/painters/{{painter.id}}.jpg"></div>
		<text>{{lang.painters[painter.id]}}</text>
		<div id='painterId' style='display: none'>{{painter.id}}</div>
	</button>
</div>

</ion-view>
